.wrapper {
    background-color: pink;
    padding: 2rem;
    border: 1rem solid green;
    margin: 2rem;
    box-sizing: border-box;
    width: 200px;
}


[data-type='primary'] {
    color: red;
}

.psuedo-element::before {
    content: 'Name -';
}

.psuedo-element::after {
    content: '------------------------------';
}